/* .login {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.login > form input {
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #f1f3f8;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
}
.mr-auto{
    color:#829fd8;
}
button{
    border-radius: 20px;
    border: 2px solid ;
    outline: none;
    background-color: black;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
} */
/* Login.css */

.container {
    margin-top: 20px;
    width: 450px;
  }
  h2{
    color: #8c8a8cf0;
    font-family: serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  label{
    color: #c6add8f0;
    font-family: Lucida Console, Courier, monospace;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .card-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .errmsg {
    color: red;
  }
  
  .card-footer {
    text-align: center;
  }
  
/* CSS */
.button-55 {
    font-family: serif;
  align-self: center;
  background-color: #d2bde1f0;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #8c8a8cf0;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
p{
  color: red;
  font-family: Neucha, sans-serif;
}